@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-family-chronica: var(--font-chronica), sans-serif;
  --font-family-owl-cute: var(--font-owl-cute), cursive;
  --font-family-gotham: var(--font-gotham), sans-serif;

  --color-lilian-purple: #392766;
  --color-lilian-purple-dark: #1b0f3a;
  --color-lilian-purple-light: #724ecc;
  
  --color-lilian-orange: #e9924b;
  --color-lilian-orange-dark: #df8d40;
  --color-lilian-orange-light: #e69344;
  
  --color-lilian-teal: #5fbbb3;
  --color-lilian-teal-dark: #3a8c85;
  --color-lilian-teal-light: #d3eaeb;
  
  --color-lilian-pink: #c87b85;
  --color-lilian-pink-dark: #8e3f4a;

  --color-lilian-beige: #e2b18a;
  --color-lilian-beige-dark: #be8659;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-gotham), Arial, sans-serif;
}
